<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">

<channel>
  <title><%= nagios_org_name %> Nagios Monitor</title>
  <link><%= nagios_org_url %></link>
  <description>Feed of all alerts</description>
</channel>

</rss>
