<!DOCTYPE html>
<!-- Copyright 2015 Oliver R. A. Chick (oc243) -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Puppet lick at {{ deploy_time }}</title>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body>
    <h1>Puppet lick at {{ deploy_time }}</h1>

    <p>
      <code>
        {% for task in tasks %}
        {{ task }} <br />
        {% endfor %}
      </code>
    </p>

    <table class="table table-striped">
      <thead>
        <tr>
          <td>Machine name</td>
          <td>VM</td>
          <td>OS</td>
          <td>Lick progress</td>
          <td>stdout</td>
          <td>stderr</td>
        </tr>
      </thead>
      <tbody>
        {% for machine, kv in machines.iteritems() %}
        <tr>
          <td>{{ kv.name }}</td>
          <td>{{ kv.is_vm }}</td>
          <td>{{ kv.os }}</td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ kv.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                {{ kv.action }}
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#stdout-{{ kv.name }}">
              stdout <span class="badge">{{ kv.stdout_lines }}</span>
            </button>
          </td>
          <td>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#stderr-{{ kv.name }}">
              stderr <span class="badge">{{ kv.stderr_lines }}</span>
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% for machine, kv in machines.iteritems() %}
    <div class="modal fade" id="stdout-{{ kv.name }}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">stdout of {{ kv.name }}</h4>
          </div>
          <div class="modal-body">
            <code>
              {% for line in kv.stdout %}
              {{ line }}
              {% endfor %}
            </code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="stderr-{{ kv.name }}" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">stderr of {{ kv.name }}</h4>
          </div>
          <div class="modal-body">
            <code>
              {{ kv.stderr }}
            </code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    {% endfor %}

  </body>
  </html>
