[submodule "modules/puppetlabs-stdlib"]
	path = modules/puppetlabs-stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/etckeeper"]
	path = modules/etckeeper
	url = git://github.com/thomasvandoren/puppet-etckeeper.git
[submodule "modules/ekeyd"]
	path = modules/ekeyd
	url = git://github.com/ucam-cl-dtg/puppet-ekeyd.git
[submodule "modules/apt"]
	path = modules/apt
	url = git://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/sudoers"]
	path = modules/sudoers
	url = git://github.com/phinze/puppet-sudoers.git
[submodule "modules/apache"]
	path = modules/apache
	url = git://github.com/ucam-cl-dtg/puppet-apache.git
[submodule "modules/common"]
	path = modules/common
	url = git://github.com/puppet-modules/puppet-common.git
[submodule "modules/stunnel"]
	path = modules/stunnel
	url = git://github.com/ucam-cl-dtg/blendedbyus-stunnel.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = git://github.com/duritong/puppet-sysctl.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/wget"]
	path = modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/rvm"]
	path = modules/rvm
	url = https://github.com/ucam-cl-dtg/puppet-rvm
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git://github.com/ucam-cl-dtg/puppetlabs-postgresql.git
[submodule "modules/dhcp"]
	path = modules/dhcp
	url = git://github.com/puppetlabs/puppetlabs-dhcp.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/ripienaar/puppet-concat.git
[submodule "modules/network"]
	path = modules/network
	url = https://github.com/attachmentgenie/puppet-module-network.git
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = git://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "modules/nfs"]
	path = modules/nfs
	url = git://github.com/stankevich/puppet-nfs.git
[submodule "modules/smartd"]
	path = modules/smartd
	url = git://github.com/jhoblitt/puppet-smartd.git
[submodule "modules/shell_config"]
	path = modules/shell_config
	url = git://github.com/puppetlabs-operations/puppet-shell_config.git
[submodule "modules/monkeysphere"]
	path = modules/monkeysphere
	url = git://github.com/ucam-cl-dtg/puppet-monkeysphere.git
[submodule "modules/zfs_auto_snapshot"]
	path = modules/zfs_auto_snapshot
	url = git://github.com/ucam-cl-dtg/puppet-zfs-auto-snapshot.git
[submodule "modules/munin/files/contrib"]
	path = modules/munin/files/contrib
	url = https://github.com/ucam-cl-dtg/contrib.git
[submodule "modules/docker"]
	path = modules/docker
	url = https://github.com/garethr/garethr-docker.git
[submodule "modules/unbound"]
	path = modules/unbound
	url = https://github.com/xaque208/puppet-unbound.git
[submodule "modules/puppet-sonarqube"]
	path = modules/sonarqube
	url = https://github.com/maestrodev/puppet-sonarqube.git
[submodule "modules/distcc"]
	path = modules/distcc
	url = https://github.com/ucam-cl-dtg/puppet-distcc.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "modules/vmutil"]
	path = modules/vmutil
	url = https://github.com/ucam-cl-dtg/puppet-vmutil.git
[submodule "modules/logstash"]
	path = modules/logstash
	url = https://github.com/elastic/puppet-logstash.git
[submodule "modules/file_concat"]
	path = modules/file_concat
	url = https://github.com/electrical/puppet-lib-file_concat.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch.git
[submodule "modules/java"]
	path = modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
[submodule "modules/datacat"]
	path = modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "modules/rsyslog"]
	path = modules/rsyslog
	url = https://github.com/saz/puppet-rsyslog.git
[submodule "modules/kibana"]
	path = modules/kibana
	url = https://github.com/evenup/evenup-kibana.git
[submodule "modules/gerrit"]
	path = modules/gerrit
	url = https://github.com/ucam-cl-dtg/puppet-gerrit.git
[submodule "modules/virt"]
	path = modules/virt
	url = https://github.com/carlasouza/puppet-virt.git
[submodule "modules/letsencrypt"]
	path = modules/letsencrypt
	url = https://github.com/danzilio/puppet-letsencrypt.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "modules/munin/files/nagios-munin"]
	path = modules/munin/files/nagios-munin
	url = https://github.com/ucam-cl-dtg/Nagios-Munin.git
