## Minimal sample pound.cfg
##
## see pound(8) for details


######################################################################
## global options:

User    "www-data"
Group   "www-data"
#RootJail "/chroot/pound"

## Logging: (goes to syslog by default)
##  0 no logging
##  1 normal
##  2 extended
##  3 Apache-style (common log format)
LogLevel  1

## check backend every X secs:
Alive   30

## use hardware-accelleration card supported by openssl(1):
#SSLEngine  "<hw>"

# poundctl control socket
Control "/var/run/pound/poundctl.socket"

######################################################################
## listen, redirect and ... to:

## redirect all requests on port 8080 ("ListenHTTP") to the local webserver (see "Service" below):
ListenHTTP
  Address 0.0.0.0
  Port  80

  ## allow PUT and DELETE also (by default only GET, POST and HEAD)?:
  xHTTP   0

  Service
    BackEnd
      Address 127.0.0.1
      Port  9080
    End
  End
End

ListenHTTPS
  HeadRemove "X-Forwarded-Proto"
  AddHeader "X-Forwarded-Proto: https"
  Address 0.0.0.0
  Port 443          
  xHTTP   0
  Cert "/etc/letsencrypt/live/cccc-scanner.dtg.cl.cam.ac.uk/privkey_fullchain.pem"
  SSLAllowClientRenegotiation 0
  SSLHonorCipherOrder 1
  Ciphers     "ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS"
  # Not supported in our version of pound but we should definetly switch it on when we can
  #DHParams "/etc/pound/dhparams.pem"
  Service
    Backend
      Address 127.0.0.1
      Port 9443
    End
  End
End
