[Unit]
Description=Howler Monkey Slack Relay

[Service]
Type=simple
User=howlermonkey
ExecStart=/usr/bin/python3 -m howlermonkey.server
Restart=on-failure
